# 工程预装模块
# 需要额外的python包，可直接在文件后面添加
# 请确保指定的包和版本号，可通过pip安装

# sed -i 's|blueapps-open|blueapps|g' requirements.txt
# 确保内外部版本统一，打包脚本的替换规则为：blueapps-open -> blueapps，不替换版本号
blueapps-open==4.0.2rc0
python-json-logger==0.1.7
requests==2.22.0
MarkupSafe==1.1.1
django-dbconn-retry==0.1.5

# django
django==3.2.4
django-celery-beat==2.2.0
#django-celery-results==2.0.0
django-filter==2.4.0
django-cors-headers==3.7.0
djangorestframework==3.12.4
drf-yasg==1.20.0
drf_spectacular==0.12.0


# 版本日志
mistune==0.8.4

# jwt
PyJWT==1.7.1
pycrypto==2.6.1
cryptography==3.2

# iam
bk-iam==1.1.19

# pipeline
bamboo-pipeline==3.12.0

# for sentry
raven==6.1.0

# for apm
ddtrace==0.14.1

# others
mock==2.0.0
urllib3==1.25.11
greenlet==0.4.17
botocore==1.12.253

gunicorn==19.6.0
gevent==1.2.2
celery==4.4.7
mako==1.1.4
lxml==4.6.3
ruamel.yaml==0.17.16
packaging==20.9

# prometheus
django-prometheus==2.2.0

# opentelemetry
protobuf==3.19.4
opentelemetry-api==1.5.0
opentelemetry-sdk==1.5.0
opentelemetry-exporter-otlp==1.5.0
opentelemetry-instrumentation-django==0.24b0
opentelemetry-instrumentation-dbapi==0.24b0
opentelemetry-instrumentation-requests==0.24b0
opentelemetry-instrumentation-celery==0.24b0
opentelemetry-instrumentation-logging==0.24b0
